@import "bootstrap.less";
@import "variables.less";

@font-face {
  font-family: 'Clear Sans';
  src: local('Clear Sans'), local('ClearSans'), url('../fonts/clearsans.woff2') format('woff2'), url('../fonts/clearsans.woff') format('woff'), url('../fonts/clearsans.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Clear Sans';
  src: local('Clear Sans Bold'), local('ClearSans-Bold'), url('../fonts/clearsansbold.woff2') format('woff2'), url('../fonts/clearsansbold.woff') format('woff'), url('../fonts/clearsansbold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

.inner {
  h1, h2, h3, h4 {
    font-weight: 700;
  }
  h1 {
    text-transform: uppercase;
  }
  h2 {
    color: #0b89a0;
    text-transform: uppercase;
  }
}
@media (min-width: @screen-sm-min) {
  .inner {
    h1 {
      font-size: 30px;
    }
    h2 {
      font-size: 26px;
    }
    h3 {
      font-size: 20px;
    }
  }
}
@media (min-width: @screen-md-min) {
  .inner {
    h1 {
      font-size: 40px;
    }
  }
}
ul {
  li {
    list-style-image: url(../images/tire.jpg);
  }
}
.btn-default {
  &:hover {
    color: #fff;
    background: @brand-primary;
  }
  &:active {
    background: #d4492a;
    border-color: #d4492a;
  }
}
a {
  border-bottom: 1px solid lighten(@brand-info, 60%);
}
.header-info {
  padding: 20px 0;
}
.tel {
  a {
    border: none;
  }
  h4 {
    margin-bottom: 3px;
  }
}
header {
  .tel {
    a {
      color: @brand-primary;
      font-size: 20px;
      span {
        color: @text-color;
        font-size: 14px;
      }
    }
  }
}
.call {
  font-size: 13px;
  a {
    border-bottom: 1px dashed lighten(@brand-info, 60%);
  }
}
.logo {
  margin-bottom: 10px;
}
.header-contact {
  margin-bottom: 10px;
}
.header-contact, .call {
  padding-left: 68px;
}
.header-contact-title {
  font-size: 12px;
  text-transform: uppercase;
}
.navbar {
  min-height: 1px;
  height: 1px;
  margin-bottom: 0;
  top: -10px;
}
.navbar-header {
  position: absolute;
  width: 42px;
  height: 32px;
  top: -225px;
  right: 15px;
}
.navbar-collapse {
  background: #fff;
  border-bottom: 1px solid #eee;
  padding-bottom: 15px;
  position: relative;
  z-index: 200;
  .nav > li > a {
    color: @text-color;
    background: #fff;
    border-bottom: none;
    padding-top: 2px;
    padding-bottom: 2px;
    span {
      border-bottom: 1px solid #cecece;
    }
  }
  .nav.main-nav {
    margin-bottom: 20px;
    > li > a {
      font-size: 13px;
    }
  }
  .nav.category-nav {
    margin-bottom: 20px;
    > li > a {
      color: #000;
      font-weight: 700;
      text-transform: uppercase;
      font-size: 14px;
    }
  }
}
@media (min-width: @screen-sm-min) {
  .header-contact, .call {
    padding-left: 15px;
  }
  .call {
    padding-top: 4px;
    line-height: 1.4;
  }
  .navbar {
    top: 0;
    height: auto;
    min-height: 50px;
  }
  .navbar-collapse {
    border: none;
  }
}
@media (min-width: @screen-md-min) {
  .header-contact {
    padding-top: 8px;
  }
  .header-contact-title {
    margin-bottom: 10px;
  }
  .call {
    div {
      margin-bottom: 4px;
    }
  }
}
@media (min-width: @screen-lg-min) {
  .navbar {
    margin-bottom: 0;
  }
  .nav.category-nav {
    margin-left: 30px;
  }
}
footer {
  background: #242834;
  padding: 30px 0 0;
}
.footer-menu {
  color: #fff;
  border-bottom: 1px solid #363a46;
  ul {
    .list-unstyled;
    li {
      list-style-image: none;
      margin-bottom: 10px;
      line-height: 1.25;
      a {
        color: #aeb1b8;
        font-size: 13px;
        border: none;
      }
    }
  }
}
.footer-menu-title {
  color: #f8fdff;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 15px;
  line-height: 1.25;
}
.footer-menu-col {
  height: 155px;
  margin-bottom: 20px;
  ul:nth-of-type(2) {
    padding-left: 15px;
  }
  &:nth-of-type(4) {
    height: 236px;
  }
}
.footer-info {
  padding: 30px 0;
}
.footer-brand, .footer-create {
  color: #6b6e77;
}
.footer-brand {
  font-size: 13px;
  margin-bottom: 25px;
}
.footer-contact {
  margin-bottom: 25px;
}
.footer-address {
  color: #f8fdff;
  font-size: 13px;
}
footer {
  .tel {
    a {
      color: #f8fdff;
      font-size: 18px;
      span {
        color: @brand-primary;
        font-size: 14px;
      }
    }
  }
}
.footer-create {
  font-size: 13px;
  a {
    color: #f8fdff;
    border: none;
    text-decoration: underline;
  }
}
@media (min-width: @screen-sm-min) {
  .footer-menu-col {
    &:nth-of-type(4) {
      height: 155px;
    }
  }
  .footer-brand, .footer-contact {
    margin-bottom: 0;
  }
  .footer-address {
    margin-bottom: 8px;
  }
}
.main-img {
  width: 65%;
  img {
    .img-responsive;
  }
}
.promo-block {
  h1 {
    font-size: 34px;
    line-height: 1;
  }
  p {
    font-size: 17px;
    font-weight: 700;
  }
}
.main-content {
  background: url(../images/grey-bg.jpg) repeat-y center top;
  padding: 40px 0 50px;
}
.services-item {
  margin-bottom: 20px;
  h2 span, h2 a {
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    background: url(../images/orange-block.svg) no-repeat;
    background-size: 100% 100%;
    padding: 2px 15px;
  }
  h2 {
    margin-top: 0;
  }
  h2 a {
    text-decoration: underline;
  }
}
.services-item-info {
  ul {
    .list-unstyled;
    li {
      list-style-image: none;
      margin-bottom: 10px;
      a {
        color: @text-color;
        font-weight: 700;
        text-transform: uppercase;
        border-bottom: 1px solid lighten(@text-color, 50%);
      }
    }
  }
  p {
    font-size: 16px;
  }
}
.services-icon {
  margin: 0 0 2px 8px;
}
@media (max-width: @screen-sm-max) {
  .services-icon {
    img {
      width: 36px;
    }
  }
}
@media (min-width: @screen-sm-min) {
  .main-img-container {
    float: right;
    padding-top: 30px;
  }
  .main-img {
    width: 100%;
  }
  .promo-block {
    p {
      margin-bottom: 20px;
    }
  }
  .main {
    .grin-line {
      padding: 20px 0 60px;
    }
  }
  .main-content {
    padding: 50px 0;
  }
  .services-item {
    height: 275px;
    /*&:nth-of-type(1), &:nth-of-type(2) {
      height: 275px;
    }
    &:nth-of-type(3), &:nth-of-type(4) {
      height: 186px;
    }*/
  }
  .services {
    padding-bottom: 20px;
  }
}
@media (min-width: @screen-md-min) {
  .promo-block {
    h1 {
      font-size: 46px;
    }
  }
  .main {
    .grin-line {
      padding: 40px 0 80px;
    }
  }
  .services {
    padding-bottom: 30px;
  }
  .services-item {
    h2 span, h2 a {
      font-size: 28px;
    }
  }
  .services-icon {
    margin: 0 0 6px 13px;
  }
}
@media (min-width: @screen-lg-min) {
  .promo-block {
    h1, p {
      max-width: none;
    }
    h1 {
      font-size: 58px;
    }
    p {
      font-size: 20px;
      margin-bottom: 45px;
    }
  }
  .main {
    .grin-line {
      padding: 60px 0 90px;
    }
  }
  .main-content {
    padding: 65px 0 85px;
  }
  .services-item {
    /*&:nth-of-type(1), &:nth-of-type(2) {
      height: 250px;
    }*/
  }
  .services {
    padding-bottom: 40px;
  }
}
.main-white-block {
  background: #fff;
}
@media (min-width: 1480px) {
  .main-white-block {
    width: 1300px;
    margin: 0 auto;
  }
}
.about {
  padding: 40px 0 20px;
  border-bottom: 1px solid #bfbfbf;
}
.section-title {
  font-size: 16px;
  text-transform: uppercase;
  line-height: 1.25;
  background-size: 77px 77px;
  padding: 8px 0 25px 20px;
  margin-bottom: 40px;
  span {
    font-size: 36px;
    font-weight: 700;
  }
}
.blue-title {
  color: @brand-info;
  background: url(../images/blue-figure.png) no-repeat left top;
}
.orange-title {
  color: @brand-primary;
  background: url(../images/figure.png) no-repeat left top;
}
.about-title {
  color: @brand-primary;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.about-item-container {
  margin-bottom: 15px;
}
.about-item {
  background: url(../images/border.png) no-repeat left 7px;
  padding-left: 20px;
  p {
    font-size: 14px;
  }
}
@media (min-width: @screen-sm-min) {
  .about {
    padding: 60px 0;
  }
  .section-title {
    margin-bottom: 50px;
  }
  .about-item-container:nth-of-type(1), .about-item-container:nth-of-type(2),
  .about-item-container:nth-of-type(5), .about-item-container:nth-of-type(6), {
    height: 120px;
  }
  .about-item-container:nth-of-type(3), .about-item-container:nth-of-type(4), {
    height: 203px;
  }
  .about-item {
    max-width: 345px;
  }
}
@media (min-width: @screen-md-min) {
  .section-title {
    font-size: 20px;
    background-size: 102px 102px;
    span {
      font-size: 46px;
    }
  }
}
.klients {
  padding: 40px 0;
}
.klients-slider {
  margin: 0 auto;
  ul {
    li {
      list-style-image: none;
      width: 174px;
      margin: 0 5px;
      float: left;
      overflow: hidden;
      height: 110px;
      img {
        .img-responsive;
        margin: 0 auto;
      }
    }
  }
}
.klients-list {
  position: relative;
  width: 100%;
}
.slider-control {
  height: 58px;
  position: absolute;
  width: 20px;
  margin-top: -29px;
  top: 50%;
}
.klients-prev {
  background: url(../images/prev.png) no-repeat 0 0;
  left: 0;
  margin-left: 0;
}
.klients-next {
  background: url(../images/next.png) no-repeat 0 0;
  margin-right: 0;
  right: 0;
}
.calc {
  padding: 40px 0 0;
}
.calc-form {
  margin-bottom: 60px;
  .form-control {
    max-width: 400px;
  }
  .form-group {
    margin-bottom: 35px;
  }
  button {
    //padding-top: 5px;
    //padding-bottom: 5px;
    margin-right: 10px;
  }
  button.back-btn {
    color: #9d9d9d;
    border-color: #9d9d9d;
    &:hover, &:focus {
      color: #fff;
      background: #9d9d9d;
    }
    &:active {
      background: darken(#9d9d9d, 10%);
      border-color: darken(#9d9d9d, 10%);
    }
  }
}
.cacl-form-title {
  color: #1d1d1b;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.cacl-annot {
  p {
    font-size: 13px;
    margin-bottom: 10px;
  }
  .tel {
    a {
      color: @brand-primary;
      font-size: 22px;
      font-weight: 700;
      span {
        color: @text-color;
        font-size: 14px;
        font-weight: 400;
      }
    }
  }
}
@media (min-width: @screen-sm-min) {
  .cacl-annot {
    border-left: 4px solid @brand-primary;
    padding: 0 0 40px 25px;
    max-width: 350px;
  }
}




                                              /*Inner*/
.inner {
  //padding: 0 0 70px;
}
.inner.inner-text {
  padding-bottom: 50px;
}
.grin-line {
  color: #fff;
  background-image: radial-gradient(ellipse, #1e5967 40%, #2d343a);
  padding: 20px 0 40px;
}
.breadcrumb {
  font-size: 13px;
  li {
    color: #fff;
    a {
      color: #868a8b;
      border-bottom-color: #42595f;
    }
  }
}
.white-block-container {
  padding: 20px 0 0;
  background: #fff;
}

@media (min-width: @screen-md-min) {
  .grin-line {
    padding: 40px 0 60px;
  }
}
@media (min-width: 1480px) {
  .inner {
    //padding: 0;
  }
  .grin-line {
    padding: 40px 0 265px;
  }
  .white-block-container {
    background: #fff;
    width: 1300px;
    position: relative;
    top: -205px;
    padding: 40px 0 0;
    margin: 0 auto -205px;
  }
}
                                            /*Inner-product*/
.product-img {
  padding-top: 35px;
  img {
    .img-responsive;
  }
}
.product-head {
  h2 {
    font-size: 16px;
  }
  ul {
    .list-unstyled;
    li {
      list-style-image: none;
      a {
        font-size: 13px;
      }
    }
  }
}
.product-item {
  border-bottom: 1px solid #e5e5e5;
  padding: 10px 0 30px;
  p {
    font-size: 13px;
  }
}
.price {
  color: @brand-primary;
  font-size: 16px;
  font-weight: 700;
}
.square {
  font-size: 12px;
}
.shop-contact {
  padding-top: 30px;
  padding-bottom:30px;
}
.shop-contact-item {
  margin-bottom: 15px;
}
.shop-contact-title {
  font-size: 13px;
  font-weight: 400;
}
.shop-contact-content {
  font-size: 16px;
  font-weight: 700;
}
@media (min-width: @screen-sm-min) {
  .shop-contact {
    padding-top: 50px;
    padding-bottom:50px;
  }
  .product-head {
    ul {
      li {
        display: inline-block;
        margin-right: 30px;
      }
    }
  }
  .shop-contact-content {
    font-size: 18px;
  }
  .price {
    font-size: 18px;
  }
  .shop-contact-item:nth-of-type(2) {
    margin-bottom: 30px;
  }
}
@media (min-width: @screen-md-min) {
  .price {
    font-size: 20px;
  }
  .product-item {
    button {
      padding-left: 35px;
      padding-right: 35px;
    }
  }
  .shop-contact-content {
    font-size: 20px;
  }
}
                                                /*Inner-services*/
.inner-content {
  background: url('../images/grey-bg.jpg') repeat-y center top;
  .white-block-container {
    background: #fff;
  }
}
.about-furniture {
  padding: 40px 0;
}
.about-furniture-img {
  img {
    .img-responsive;
  }
}
.about-furniture-text {
  color: #1b1b1d;
  font-size: 16px;
}
@media (min-width: @screen-sm-min) {
  .about-furniture-text {
    padding-top: 15px;
  }
}
@media (min-width: @screen-md-min) {
  .about-furniture-text {
    font-size: 20px;
  }
}
.order {
  padding: 40px 0;
}
.order-step-number {
  color: #d1dee0;
  font-size: 48px;
  font-weight: 700;
  line-height: 42px;
}
.order-step-title {
  margin-bottom: 20px;
  span {
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    background: #0a8ba1;
    padding: 2px 8px;
  }
}
.order-step-text {
  font-size: 14px;
}
.order-step {
  margin-bottom: 10px;
}
.order-btn {
  text-align: center;
}
@media (min-width: @screen-sm-min) {
  .order {
    padding: 60px 0;
  }
  .order-step {
    height: 233px;
  }
}
@media (min-width: @screen-md-min) {
  .order-step {
    height: 192px;
  }
}
@media (min-width: @screen-lg-min) {
  .order-step {
    height: 285px;
  }
}
@media (min-width: 1480px) {

}
.order {
  overflow: auto;
}
.faq {
  background: #fff;
  padding: 40px 0;
}
.question {
  background: url('../images/arrow-r.png') no-repeat left 7px;
  padding-left: 30px;
  margin-bottom: 20px;
  span {
    color: #1b1b1d;
    font-weight: 700;
    text-transform: uppercase;
    border-bottom: 1px dashed lighten(#1b1b1d, 50%);
    cursor: pointer;
    &:hover, &:focus {
      color: @brand-info;
      border-bottom-color: #c2e2e7;
    }
  }
}
.question-open {
  background: url('../images/arrow-d.png') no-repeat left 7px;
}
.answer {
  padding-left: 30px;
}
.faq-item {
  margin-bottom: 30px;
}
.faq-list {
  margin-bottom: 50px;
}
.question-form {
  form {
    max-width: 720px;
    margin-top: 30px;
  }
}
@media (min-width: @screen-sm-min) {
  .faq {
    padding: 60px 0;
  }
  .faq-item {
    max-width: 720px;
  }
  .answer {
    padding-left: 80px;
  }
}
.prices {
  background: #f2efeb;
  padding: 40px 0 80px;
}
.about-prices {
  margin-bottom: 30px;
  p {
    color: #1b1b1d;
    font-size: 17px;
    line-height: 1.4;
    margin-bottom: 40px;
  }
  dl {
    dt {
      font-weight: 400;
      text-align: left;
      margin-bottom: 15px;
      &.last-item {
        margin: 25px 0 5px 0;
        float: none;
      }
    }
    dd {
      color: #1b1b1d;
      font-size: 16px;
      font-weight: 700;
      &.last-item {
        margin-left: 0;
        a {
          font-size: 14px;
          border-bottom: 1px solid #c2e2e7;
        }
      }
    }
  }
}
.warranty {
  color: #fff;
  background: url('../images/blue-bg.jpg') no-repeat;
  background-size: cover;
  padding: 30px;
  p {
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.4;
    max-width: 220px;
    margin-bottom: 25px;
  }
  span {
    font-size: 22px;
  }
}
@media (min-width: @screen-sm-min) {
  .prices {
    padding: 60px 0;
  }
  .about-prices {
    dl {
      dt.last-item {
        float: left;
      }
      dd.last-item {
        margin-left: @dl-horizontal-offset;
        margin-top: 22px;
      }
    }
  }
}
@media (min-width: @screen-lg-min) {
  .warranty {
    p {
      font-size: 18px;
      max-width: none;
      margin-bottom: 40px;
      span {
        font-size: 36px;
      }
    }
  }
}
table {
  font-size: 13px;
  tr {
    th {
      color: #828282;
      font-weight: 400;
      border-bottom: 1px solid #e5e5e5;
      padding: 10px 15px;
    }
    td {
      padding: 15px;
      vertical-align: top;

    }
    &:hover {
      td {
        background: #f1f1f1;
      }
    }
  }
}
.price-table {
  max-width: 600px;
  tr {
    td {
      &:nth-of-type(3) {
        font-weight: 700;
      }
    }
  }
}
.modal-title {
  color: @brand-primary;
  font-size: 18px;
  text-transform: uppercase;
  line-height: 1;
  span {
    font-size: 48px;
    font-weight: 700;
  }
}
.modal-header {
  padding: 35px 45px 20px;
}
.modal-body {
  padding: 10px 45px;
}
.modal-footer {
  padding: 10px 45px 35px;
  text-align: left;
}
.modal {
  label {
    font-weight: 400;
  }
}
.close {
  font-size: 36px;
  font-weight: 400;
  opacity: 0.7;
}
.inner-product-price-block {
  margin-top: 25px;
  .square {
    margin-bottom: 25px;
  }
}
.margin-top-block {
  margin-top:55px;
}
.overflow-block {
  overflow: auto;
}

.action-title {
  color: #0b89a0;
  text-transform: uppercase;
  font-size: 26px;
}

.small-margin {
  margin-bottom:5px;
}
#message_form {
  .modal-body {
    padding-bottom: 35px;
  }
}
@media (max-width: @screen-xs-max) {
  #message_form h4 span {
    font-size: 24px;
  }
}
.grin-line {
  button {
    margin: 20px 0;
  }
}
.contact-page {
  padding-bottom: 40px;
}
.inner-page-content {
  padding-bottom: 40px;
}
@media (min-width: @screen-sm-min) {
  .inner-page-content {
    padding-bottom: 80px;
  }
}
@media (min-width: @screen-md-min) {
  .inner-page-content {
    padding-bottom: 120px;
  }
}
.inner-calc {
  button {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .cacl-form-title {
    margin-top: @line-height-computed;
  }
}

.green_anons {
  font-size: 18px;
  font-weight: bold;
}

.body-text {
  font-size: 16px;
}

#map {
  margin-top: 20px;
}